language: python
sudo: false
cache: pip
dist: trusty

matrix:
  fast_finish: true

install:
  - "python -m pip install --upgrade --upgrade-strategy=eager pip setuptools pytest pytest-timeout pytest-cov pytest-xdist"
  - "python -m pip install --upgrade --upgrade-strategy=eager -e .[tests,virtualenv]"
script:
  - "python -m pytest -v -n 8 tests/"

jobs:
  include:
    - python: "3.7"
      dist: xenial
      sudo: required
    - python: "3.6"
    - python: "2.7"
    - python: "3.5"
    - python: "3.4"
    - stage: packaging
      python: "3.6"
      install:
        - "python -m pip install --upgrade pip setuptools"
        - "python -m pip install --upgrade check-manifest readme-renderer"
      script:
        - "python setup.py check -m -r -s"
    - stage: packing
      python: "3.6"
      install:
        - "python -m pip install --upgrade --upgrade-strategy=eager -e .[pack]"
      script:
        - "invoke pack"
        - "python2.7 pack/passa.zip --help"
    - stage: coverage
      python: "3.6"
      install:
        - "python -m pip install --upgrade --upgrade-strategy=eager pip setuptools pytest-timeout pytest-cov pytest-xdist"
        - "python -m pip install --upgrade --upgrade-strategy=eager -e .[tests,virtualenv]"
      script:
        - "pytest -n auto --timeout 300 --cov=passa --cov-report=term-missing --cov-report=xml --cov-report=html tests"
