[packages]
passa = {editable = true,path = '.',extras = ['virtualenv']}

# Override sdist-only dependency via TOMLkit to fix build. (sarugaku/passa#61)
[packages.functools32]
file = """\
    https://github.com/sarugaku/functools32/releases/download/3.2.3-2/\
    functools32-3.2.3.post2-py2.py3-none-any.whl"""
markers = "python_version < '3.0'"

[dev-packages]
black = '*'
invoke = '*'
parver = '*'
passa = {editable = true,path = '.',extras = ['tests']}
sphinx = '*'
sphinx-rtd-theme = '*'
towncrier = '*'
twine = '*'
wheel = '*'
coverage = "<5.0"

[scripts]
passa-add = 'python -m passa.cli.add'
passa-remove = 'python -m passa.cli.remove'
passa-upgrade = 'python -m passa.cli.upgrade'
passa-lock = 'python -m passa.cli.lock'
passa-freeze = 'python -m passa.cli.freeze'
black = 'black src/passa/ --exclude "/(\.git|\.hg|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist)/"'
build = 'inv build'
changelog = 'towncrier'
docs = 'sphinx-build -b html docs docs/_build'
draft = 'towncrier --draft'
release = 'inv release'
tests = "pytest -v tests"
upload = 'inv upload'

[pipenv]
allow_prereleases = true
